<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>Display My Orders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(
            function () {
                ajaxGetOrderForCustomer();
                setTimeout(ajaxGet, 600);

                function ajaxGetOrderForCustomer() {
                    var formData = {
                        customerID: "[[${#authentication.name}]]"
                    };

                    $.ajax({
                        type : "GET",
                        url : "list_orders_customer",
                        data : formData,
                        success : function(result) {
                            $('#emp').empty();
                            if (result.status == "success") {
                                $('#order-list-customer').append(result.data);
                                console.log("Success: ", result);
                            }
                        },
                        error: function (e) {
                            $('#emp').empty();
                            console.log("ERROR: ", e);
                        }
                    });
                }

                function ajaxGet() {
                    $.ajax({
                        type: "GET",
                        url: "/error_msg_order_system",
                        success: function (result) {
                            $('#error').html(result);
                            console.log("MESSAGE SHOWS");
                        }
                    });
                }

            }
        )
    </script>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a ckass="navbar-brand" href ="/admin_platform" >Main Menu</a>
    <a href="/logout"><input class="btn btn-outline-success mr-auto" type="button" name="logout" id="logout" value="Logout"></a>
</nav>
<div sec:authorize="isAuthenticated()">
    Authenticated as <span sec:authentication="name"></span>
</div>
<div id="main_container" align="center">
    <div class="orders-wrapper">
        <div class="subtitle">
            All Orders For Current Customer
        </div>
        <br>
        <div id="display_orders_for_customer">
            <br>
            <div id="display_orders_for_customer_result">
                <table id="order-list-customer" class="order_list_for_customer" style="max-width: 1440px" border="1">
                    <thead>
                    <tr>
                        <th style="max-width:300px">Order ID</th>
                        <th style="max-width:300px">Status</th>
                        <th style="max-width:300px">Started Date</th>
                        <th style="max-width:300px">Store Name</th>
                        <th style="max-width:300px">Item Name</th>
                        <th style="max-width:300px">Quantity</th>
                        <th style="max-width:300px">Line Cost</th>
                        <th style="max-width:300px">Line Weight</th>
                    </tr>
                    </thead>
                    <tbody id="emp">

                    </tbody>
                </table>
            </div>
            <div id="error" align="center"></div>
        </div>
    </div>
</div>
</body>
</html>