<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>Display Orders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(
            function () {
                //SUBMIT FORM
                $("#displayOrdersForm").submit(function(event) {
                    event.preventDefault();
                    ajaxGetOrders();
                    setTimeout(ajaxGet, 600);
                });

                function ajaxGetOrders() {
                    var formData = {
                        storeName: $("#storeName").val()
                    };

                    $.ajax({
                        type : "GET",
                        contentType : "application/json",
                        url : "list_orders",
                        data : formData,
                        success : function (result) {
                            $('#emp').empty();
                            if (result.status == "success") {
                                $('#order-list').append(result.data);
                                console.log("Success: ", result);
                            }
                        },
                        error: function (e) {
                            $('#emp').empty();
                            console.log("ERROR: ", e);
                        }
                    });
                }

                function ajaxGet() {
                    $.ajax({
                        type: "GET",
                        url: "/error_msg_order_system",
                        success: function (result) {
                            $('#error').html(result);
                            console.log("MESSAGE SHOWS");
                        }
                    });
                }

            }
        )
    </script>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a ckass="navbar-brand" href ="/admin_platform" >Main Menu</a>
    <a href="/logout"><input class="btn btn-outline-success mr-auto" type="button" name="logout" id="logout" value="Logout"></a>
</nav>
<div sec:authorize="isAuthenticated()">
    Authenticated as <span sec:authentication="name"></span>
</div>
<div id="main_container" align="center">
    <div class="orders-wrapper">
        <div class="subtitle">
            Display Orders
        </div>
        <br>
        <div id="display_orders">
            <form id="displayOrdersForm" action="#" method="get">
                <div class="form-group">
                    <label for="storeName">Store Name:</label>
                    <input type="text" class="form-control" id="storeName" name="storeName" required/>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br />
            <br>
            <div id="display_orders_result">
                <table id="order-list" class="order_list" style="max-width: 1440px" border="1">
                    <thead>
                    <tr>
                        <th style="max-width:300px">Order ID</th>
                        <th style="max-width:300px">Status</th>
                        <th style="max-width:300px">Started Date</th>
                        <th style="max-width:300px">Customer ID</th>
                        <th style="max-width:300px">Item Name</th>
                        <th style="max-width:300px">Quantity</th>
                        <th style="max-width:300px">Line Cost</th>
                        <th style="max-width:300px">Line Weight</th>
                    </tr>
                    </thead>
                    <tbody id="emp">

                    </tbody>
                </table>
            </div>
            <div id="error" align="center"></div>
        </div>
    </div>
</div>
</body>
</html>